<h1>Benutzer</h1>
{{#paper-list}}
  {{#each model.users as |user|}}
    {{#paper-item class="md-3-line"}}
      <img src={{user.gravatarUrl}} alt={{user.name}} class="md-avatar">
      <div class="md-list-item-text">
        <h3>{{user.name}}</h3>
        <h4>{{user.email}}</h4>
        <p>Some longer notes here could be here. But they aren't.</p>
      </div>
    {{/paper-item}}
  {{/each}}
  {{paper-divider}}

  {{#paper-item class="md-3-line"}}
    {{#paper-card as |card|}}
    {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}Neuen Nutzer anlegen{{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        {{#paper-form onSubmit=(action "addUser") as |form|}}
          <div class="layout layout-sm-row">

          </div>
          <div class="layout layout-sm-row">
            {{form.input
              class="flex-50"
              label="User name"
              value=model.name
              onChange=(action (mut model.name))
              errors=model.validations.attrs.name.messages
            }}
            {{form.input
              label="E-mail"
              class="flex-50"
              type="email"
              value=model.email
              onChange=(action (mut model.email))
              errors=model.validations.attrs.email.messages
            }}
          </div>
          <div class="layout-row">
            {{#form.submit-button raised=true primary=true}}Submit{{/form.submit-button}}
          </div>
        {{/paper-form}}
      {{/card.content}}
    {{/paper-card}}
  {{/paper-item}}
{{/paper-list}}
